body{
    background-color:gray;
}

.col{
    margin-bottom: 10%;
}

.navbar-light .navbar-nav .nav-link{
    color: white;
    font-size: 22px;
}
.d-flex  .btn-outline-light  .text-light:hover{
    text-decoration: black;

}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}
span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

@media only screen and (max-width:600px){
    header{
        background-position: 30% 33%;
    }
}
img{
    width: 90%;
}

.container{
    margin-top: 10%;
}
 
