.banner{

    background-image: url('image/1234.jpg') ;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
 
}

.navbar-light .navbar-nav .nav-link{
    color: black;
    font-size: 22px;
}
.d-flex  .btn-outline-light  .text-light:hover{
    text-decoration: black;

}


 
